# Build directories
build/
dist/
MANIFEST
hid.c
hidraw.c
.eggs/
hidapi.egg-info/

# Temp files
hid.*.pyd

# Testing
.tox/

# IDE files
.idea/
.vscode/

# Virtual environments
venv/
Pipfile

# Doc output
docs/_build

# macOS junk files
.DS_Store
._*
